<template>
  <div>
      <div class="row">
          <div class="col-md-6 offset-md-3">
                <UserAccountForm :account="account" :onSave="saveAccount" />
          </div>
      </div>
    <div class="row mt-2">
          <div class="col-md-6 offset-md-3">
                <UserProfileForm 
                    :profile="profile" 
                    :onSave="saveProfile"
                    :departmentsSelectOptions="options"
                    :departments="departments"
                    :onDepartmentChange="null"
                     />
          </div>
    </div>
      
  </div>
</template>

<script>
import UserAccountForm from '../components/UserAccountForm';
import UserProfileForm from '../components/UserProfileForm';

const options = {
    label: 'Department',
    idField: 'id',
    nameField: 'title',
};

import { mapGetters } from 'vuex';

export default {
    name: 'UserEdit',
    components: {
        UserAccountForm,
        UserProfileForm
    },

    computed: {
        ...mapGetters('users',['selectedUser', 'departments']),

        account() {
            return this.selectedUser ?? {};
        },
        
        profile() {
            return this.selectedUser ?? {};
        },

        options() {
            return options;
        }
    },

    methods: {
        saveAccount(account) {
            this.$store.dispatch('users/updateAccount', account);
        },
        saveProfile(profile) {
            this.$store.dispatch('users/updateProfile', profile);
        },
    },

    beforeMount() {
        if (!this.selectedUser) this.$router.push('/');
    }
}
</script>

<style>

</style>