<template>
  <div>
    <div class="row">

      <div class="col-md-8 offset-md-1">
        <div class="row">
          <div class="pull-left col-md-2">
            <div>
              <div class="d-inline-block disabled"><i class="fas fa-plus-circle fa-2x" ></i></div>
              <div class="d-inline-block" :class="{'disabled':!hasSelectedUser}" @click="navigateTo('users-edit')"><i class="fas fa-edit fa-2x" ></i></div>
              <div class="d-inline-block disabled"><i class="fas fa-trash fa-2x"></i></div>
            </div>
          </div>
        <div class="pull-left col-md-3">
        <input class="form-control" type="text" placeholder="search" v-model="localSearchFilter"/>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-5">
        <SelectComponent 
          :label="'Departments'"  
          :idField="'id'" 
          :nameField="'title'" 
          :values="departments"
          :onChange="onDepartmentChange"
          :value="null"
          />
        
      </div>
    </div>
        </div>
      </div>

    <div class="row mt-4"></div>

    <div class="row">
      <div class="col-md-8 offset-md-1">
        <UsersTable :users="filteredUsers"/>
      </div>
      
    </div>
  </div>
</template>

<script>
import UsersTable from '../components/UserTable';
import SelectComponent from '../components/Select';
import { mapGetters } from 'vuex';

export default {
  name: 'UsersList',
  components: {
    UsersTable,
    SelectComponent,
  },

  data() { 
    return {
      localSearchFilter: '',
      selectedDepartment: {},
    }
  },

  watch: {
    localSearchFilter(val) {
      this.$store.dispatch('users/setSearchFilterValue', val);
    },

  },

  computed: {
    ...mapGetters('users', ['filteredUsers', 'departments', 'selectedUser', 'searchFilter']),

    hasSelectedUser() {
      return !!this.selectedUser;
    }
  },

  mounted() {
    this.getUsers();

    this.localSearchFilter = this.searchFilter;
  },

  methods: {
    navigateTo(component) {
      if (this.hasSelectedUser) {
        this.$router.push({name: component});
        return;
      }

    },

    getUsers() {
      this.$store.dispatch('users/fetch');
    },

    onDepartmentChange(department) {
      let { id, title } = department;
      this.$store.dispatch('users/setDepartmentFilter', { id, title });
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.width-60 {
  width: 60%;
}

.disabled {
  opacity: 0.5;
}
</style>
