<template>
  <form class="form-inline">
    <label for="select" class="mr-4" v-if="label">{{ label }}</label>
      <select v-model="localModel" @change="change(localModel)" class="form-control width-60" name="select" >
         <option v-bind:value="value" v-for="value in values" :key="value[idField]">{{ value[nameField] }}</option>
      </select>
  </form>
</template>

<script>
export default {
    name: 'SelectComponent',
    props: {
        values: { type: Array, required: true },
        label: { type: String, required: false },
        idField : { type: String, required: true },
        nameField: { type: String, required: true },
        onChange: { type: Function },
        value: { type: Object, required: false }
    },

    data() {
        return {
            localModel: {},
        }
    }, 
    methods: {
        change(v) {
            this.onChange(v);
        }   
    },
    mounted() {
        if(!this.value) return;
        
        this.localModel = this.value;
    }
}
</script>

<style>

</style>