<template>
  <tr>
      <td v-text="user.name" />
      <td v-text="user.email" />
      <td v-text="user.firstName" />
      <td v-text="user.lastName" />
      <td v-text="user.department ? user.department.title : ''" />
  </tr>
</template>

<script>
export default {
    name: 'UserTableRow',
    props: {
        user: {type: Object, required: true },
    }
}
</script>

<style>

</style>