<template>
  <div class="border darkgray-border px-4 py-4">
    <div class="row">
      <div class="col-md-1 pl-0 ml-0">
        <h5>Account</h5>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1 my-auto">Name</div>
      <div class="col-md-10 offset-md-1">
        <input class="form-control" type="text" v-model="localAccount.name" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-1 my-auto">Email</div>
      <div class="col-md-10 offset-md-1">
        <input class="form-control" type="text" v-model="localAccount.email" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-9 my-auto">
        <button class="btn btn-success" @click="onAccountSave(localAccount)">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserAccountForm",

  props: {
    account: { type: Object, required: true },
    onSave: { type: Function, required: true },
  },

  data() {
    return {
      localAccount: {},
    };
  },

  methods: {
    onAccountSave(account) {
      this.onSave(account);
    },
  },

  beforeMount() {
    this.localAccount.name = this.account.name;
    this.localAccount.email = this.account.email;
    this.localAccount.id = this.account.id;
  },
};
</script>

<style>
.border {
  border: 1px solid;
}

.darkgray-border {
  border-color: darkgray;
}
</style>
