<template>
  <div class="border darkgray-border px-4 py-4">
    <div class="row">
      <div class="col-md-1 pl-0 ml-0">
        <h5>Profile</h5>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1 my-auto">FirstName</div>
      <div class="col-md-10 offset-md-1">
        <input class="form-control" type="text" v-model="localProfile.firstName" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-1 my-auto">LastName</div>
      <div class="col-md-10 offset-md-1">
        <input class="form-control" type="text" v-model="localProfile.lastName" />
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-1 my-auto">Department</div>  
      <div class="col-md-10 offset-md-1">
        <SelectComponent 
          :label="null"  
          :idField="departmentsSelectOptions.idField" 
          :nameField="departmentsSelectOptions.nameField" 
          :values="departments"
          :onChange="onDepartmentChange"
          :value="localProfile.department"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-9 my-auto">
        <button class="btn btn-success" @click="onProfileSave(localProfile)">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
import SelectComponent from './Select';

export default {
  name: "UserProfileForm",

  components: {
    SelectComponent,
  },

  props: {
    profile: { type: Object, required: true },
    onSave: { type: Function, required: false },
    departmentsSelectOptions: { type: Object, required: true },
    departments: { type: Array, required: true },
  },

  data() {
    return {
      localProfile: {},
    };
  },

  beforeMount() {
    this.localProfile.id = this.profile.id;
    this.localProfile.firstName = this.profile.firstName;
    this.localProfile.lastName = this.profile.lastName;
    this.localProfile.department = this.profile.department;
  },

  methods: {
    onProfileSave(profile) {
      this.onSave(profile);
    },

    onDepartmentChange(dep) {
      this.localProfile.department = dep;
    }
  },
};
</script>

<style>
</style>