<template>
   <table class="table">
      <thead>
         <th>Name</th>
         <th>Email</th>
         <th>FirstName</th>
         <th>LastName</th>
         <th>Department</th>
      </thead>

      <tbody>
         <UserTableRow
            v-for="(user) in users" 
            :user="user" 
            :key="user.id"
            @click.native="selectUser(user)"
            :class="{'selected': (selectedUser && selectedUser.id == user.id)}"
             />
      </tbody>
             
   </table>
</template>

<script>
import UserTableRow from './UserTableRow';
import { mapGetters } from 'vuex';

export default {
   components: {
      UserTableRow,
   },

   props: {
      users: { type: Array, required: true },
   },

   computed: {
      ...mapGetters('users', ['selectedUser'])
   },

   methods: {
      selectUser(user) {
         if (!this.selectedUser) {
            this.$store.dispatch('users/setUser', user);
            return;
         }

         if (this.selectedUser.id == user.id) {
            this.$store.dispatch('users/clearUser');
            return;
         }

         this.$store.dispatch('users/setUser', user);
      }
   },
}
</script>

<style>
.selected {
   background: #a6bbff;
}
</style>